.bg-theme{
  background-color: #8D3DAF;
}

.cart-icon{
  font-size: 2rem;
}

.about-background{
  min-height: 30vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-background{
  min-height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-warning{
  padding: 8px 35px;
}